*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body{
    
    display:grid;
    grid-template-columns: 80%;
    justify-content: center;
    background: #f0efeb;
    margin-top: 3rem;
   }
   .addItems-container{
    background: #cb997e;
   }
   .addItems-container,.displayItems-container{
    margin: 1rem 0;
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
   
    box-shadow: 0 5px 10px #b7b7a4;
   }
   .addItems-title,.displayItems-title{
   text-transform: capitalize;
   }
   .addItems-title{
    color:  #fff1e6;
   }
   .addItems-action,.displayItems-action{
    
    padding: 0.5rem 0;
    text-transform: capitalize;
    border-radius: 0.5rem;
    display: none;
   }
   .addItems-input{
    background: transparent;
    border:none;
    border-bottom: 5px solid #ddbea9;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem;
    color: #ddbea9;
    outline: none;
    text-transform: uppercase;
   }
   .addItems-submit,.displayItems-clear{
    display: block;
    width: 80%;
    margin: 2rem auto 0 auto;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
   }
   .addItems-submit{
    color:  #fff1e6;
    background: transparent;
    border:3px solid  #fff1e6;
    transition: all 2s ease; 
   }
   .addItems-submit:hover{
    background:  #fff1e6;
    color: #272932;
   }
   .displayItems-container{
    background:  #fff1e6;
   
   }
   .displayItems-title{
    color: #cb997e;
    margin-bottom: 0.25rem;
   }
   .grocery-item{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 1s ease;
    margin:0.5rem 0;
   }
   .grocery-item:hover{
   background:#f0efeb;
   }
   .grocery-item__title{
    text-align: left;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #272932;
   }
   .grocery-item__link{
   color: red;
   transition: all 2s linear;
   
   }
   .grocery-item:hover .grocery-item__link{
    transform: scale(2)
   }
   
   .displayItems-clear{
    color: #cb997e;
    background: transparent;
    border:3px solid #cb997e;
    transition: all 2s ease; 
   }
   
   .displayItems-clear:hover{
    background: #cb997e;
    color: #272932;
   }
   /* action classes */
   .alert{
    color: red;
    border-color:red;
    display: block;
    margin-bottom: 0.5rem
   }
   .success{
    color: green;
    border-color: green;
    display: block;
    margin-bottom: 0.5rem
   }
   
   
   @media screen and (min-width:768px){
    body{
     grid-template-columns: 50%;
    }
   }